@inherits LayoutComponentBase

<style>
    .page {
        display: flex;
    }

    .sidebar {
        width: 200px;
        background-color: #2C0DC0;
        height: 100vh;
        position: fixed;
    }

    .content {
        margin-left: 0px;
    }

    .main {
        padding: 0;
        margin: 0;
    }

    .content {
        padding: 0;
        margin: 0;
    }
    
    #top-content-div {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

</style>

<div class="page" style="overflow:hidden;">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="content px-4">
        @* <div id="top-content-div" style="height: 65px; background-color: #2C0DC0;margin-bottom:25px;"></div> *@
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>